/* Start Variables */
:root {
  --main-color: #00abf0;
  --scoundary-color: #081b29;
  --background-color: #ededed;
  --P-color: #777;
  --P-line-height: 1.8;
  --P-font-size: 17px;
  --section-padding: 60px;
  --content-margin: 100px;
  --main-transtion: 0.3s;
}
/* End Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;

}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scoundary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* ! Media Queris */
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}

/* larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* !Strat Combonant */
.main-heading {
  margin: 0;
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  color: var(--scoundary-color);
  max-width: 100%;
}
.main-heading + p {
  font-size: var(--P-font-size);
  color: var(--P-color);
  text-align: center;
  line-height: var(--P-line-height);
  margin-top: 20px;
}
@media (max-width: 767px) {
  .main-heading {
    font-size: 50px;
  }
  .main-heading + p {
    margin-top: 5px;
    line-height: calc(var(--P-line-height) * 0.75);
  }
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* !End Combonant */
/* * Start Header */
.header {
  position: fixed;
  z-index: 1000;
  padding: 20px;
  background-color: #eee;
  width: 100%;
  box-shadow: 0 0 5px #777;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 70px;
}

.header .links {
  position: relative;
}

.header .icon {
  font-size: 30px;
}

.header .links .nav {
  background: var(--background-color);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: 100%;
  display: none;
  z-index: 100;
}

.header .links:hover .nav {
  display: block;
}

.header .links .nav a {
  display: block;
  font-size: 17px;
  color: #333;
  text-decoration: none;
  padding: 15px 0;
  transition: 0.3s;
}

.header .links .nav a:hover {
  padding-left: 30px;
}

.header .links .nav a:not(:last-child) {
  border-bottom: 1px solid #aeadad;
}
/* End headre */
/* Strat landing */
.landing {
  background: var(--scoundary-color);
  height: 50vh;
  position: relative;
}


.landing::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  width: 200px;
  height: 200px;
  border: 4px solid white;
  border-radius: 50%;
  background: var(--scoundary-color);
}

@media (max-width: 767px) {
  .landing::before {
    bottom: -50px;
    width: 100px;
    height: 100px;
  }
}

.landing .landing-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing .landing-content h1 {
  margin: 0;
  font-size: 60px;
  color: var(--main-color);
}

@media (max-width: 767px) {
  .landing .landing-content h1 {
    font-size: 40px;
  }
}

.landing .landing-content p {
  font-size: 17px;
  color: #fff;
  font-weight: 500;
  line-height: var(--paragraph-line-height);
  max-width: 100%;
}

@media (max-width: 767px) {
  .landing .landing-content p {
    font-size: 13px;
  }
}
/* End landing */
.features {
  padding-top: calc(var(--section-padding) + 40px);
  padding-bottom: var(--section-padding);
  background-color: white;
}
.features .container {
  gap: 20px;
}

.features .container .feat-col {
  padding: 15px;
  text-align: center;
  transition: var(--main-transtion);
}

.features .container .feat-col:hover {
  box-shadow: 0 0 5px #777, 0 0 10px #777;
}

.features .container .feat-col i {
  color: var(--main-color);
}

.features .container .feat-col h3 {
  font-weight: 800;
  margin: 20px 0;
}

.features .container .feat-col p {
  font-size: var(--P-font-size);
  color: var(--P-color);
  line-height: var(--P-line-height);
}
/* Start Features */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: var(--background-color);
}

.services .services-content {
  gap: 30px;
  margin-top: var(--content-margin);
}

.services .services-content .srv {
  display: flex;
  padding-bottom: 40px;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}

.services .services-content .col .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .services-content .srv .srv-text {
  flex: 1;
}

.services .services-content .srv .srv-text h3 {
  font-weight: 800;
  margin: 0 0 20px;
}

.services .services-content .srv p {
  font-size: var(--P-font-size);
  font-weight: 300;
  color: var(--P-color);
  line-height: var(--P-line-height);
}

.services .services-content .srv-image {
  position: relative;
  text-align: center;
  z-index: 1;
}

.services .services-content .srv-image::before {
  content: "";
  position: absolute;
  width: 70px;
  height: calc(100% + 80px);
  background: var(--scoundary-color);
  top: -40px;
  right: 0;
  z-index: -1;
}

.services .services-content .srv-image img {
  width: 260px;
}

@media (max-width: 1199px) {
  .srv-image,
  .service-img {
    display: none;
  }
}
/* End Services */
/* Start Portfolio*/
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: var(--background-color);
}

.portfolio .portfolio-content {
  margin-top: var(--content-margin);
  gap: 30px;
}

.portfolio .portfolio-content .col {
  background: white;
  box-shadow: 1px 2px 2px 0px #ccc;
  border-radius: 8px;
  transition: var(--main-transtion);
  overflow: hidden;
}

.portfolio .portfolio-content .col:hover {
  box-shadow: 1px 4px 4px 0px #ccc;
  transform: translateY(-4px);
}

.portfolio .portfolio-content .image {
  overflow: hidden;
  max-width: 100%;
}

.portfolio .portfolio-content img {
  width: 100%;
}

.portfolio .portfolio-content .text {
  padding: 20px;
}

@media (max-width: 767px) {
  .portfolio .portfolio-content .text {
    text-align: center;
  }
}

.portfolio .portfolio-content .text h3 {
  font-weight: 800;
  margin-bottom: 15px;
}
.portfolio .portfolio-content .text p {
  font-size: var(--P-font-size);
  color: var(--P-color);
  line-height: var(--P-line-height);
  margin: 0;
}
/* End Portfolio*/
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 100px);
  background: white;
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--content-margin);
}

.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
  z-index: 1;
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background: var(--main-color);
  top: -40px;
  z-index: -1;
  left: -30px;
}

.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background: var(--scoundary-color);
  right: -30px;
  top: -40px;
  z-index: -1;
}

.about .about-content .image img {
  max-width: 100%;
}

.about .about-content .about-info {
  flex: 1;
  padding-left: 150px;
  padding-right: 150px;
}

.about .about-content .about-info p:first-child {
  font-weight: 800;
  color: var(--scoundary-color);
}

.about .about-content .about-info hr {
  width: 50%;
  background: var(--main-color);
  height: 2px;
  border: none;
  margin-top: 40px;
  margin-bottom: 15px;
}

.about .about-content .about-info p:last-child {
  color: var(--P-color);
  font-size: var(--P-font-size);
}

.about .about-content .about-info p {
  line-height: var(--P-line-height);
  position: relative;
}

.about .about-content .about-info p::before {
  content: "";
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0 0 0 / 10%);
  transition: 0.3s;
}

.about .about-content .about-info p:hover::before {
  width: 100%;
}

/* ! About Breakpoints */

@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    align-items: center;
  }
  .about .about-content .image {
    width: 200px;
    height: 200px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    overflow: hidden;
  }
  .about .about-content .image img {
    width: 100%;
    transition: var(--main-transtion);
  }

  .about .about-content .image img:hover {
    transform: scale(1.1) rotate(5deg);
    filter: opacity(0.75);
  }
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }

  .about .about-content .about-info {
    padding: 40px 50px;
  }
}
/* End About */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: var(--background-color);
}
.contact .contact-content {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}

.contact .label {
  font-size: 40px;
  font-weight: 800;
  color: var(--scoundary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.contact .link {
  display: block;
  font-size: 40px;
  letter-spacing: -2px;
  font-weight: 800;
  text-decoration: none;
  color: var(--main-color);
}

.contact .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--P-color);
  font-size: var(--P-font-size);
  margin-top: 20px;
}

.contact .social-icon i {
  margin-left: 10px;
  color: var(--scoundary-color);
}

@media (max-width: 767px) {
  .contact .label,
  .contact .link {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  background: var(--scoundary-color);
}

.footer .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--P-font-size);
  color: white;
  text-align: center;
  padding: 15px 5px;
}

.footer .info {
  flex: 1;
}

.footer .design-name {
  font-weight: bold;
  color: var(--main-color);
}

.footer .up {
  border: 2px solid var(--main-color);
  padding: 7px;
  border-radius: 6px;
}

.footer .up:hover {
  background: var(--main-color);
}

.footer .up a {
  color: var(--main-color);
}

.footer .up a i {
  position: relative;
  animation: up-down 1s linear infinite alternate-reverse;
}

.footer .up:hover a i {
  color: var(--scoundary-color);
}

@keyframes up-down {
  0% {
    transform: translateY(5px) rotate(-90deg);
  }
  50% {
    transform: translateY(0) rotate(-90deg);
  }
  100% {
    transform: translateY(-5px) rotate(-90deg);
  }
}
/* End Footer */
