/* Start Variables */
:root {
  --main-color: #00abf0;
  --scoundary-color: #081b29;
  --background-color: #ededed;
  --P-color: #777;
  --P-line-height: 1.8;
  --P-font-size: 1.5rem;
  --content-margin: 10rem;
  --main-transtion: 0.3s;
}

/* End Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 10rem 12% 2rem;
  overflow: hidden;
}

body {
  position: relative;
}


::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scoundary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}


/* End Global Rules */
/* !Strat Combonant */
.main-heading {
  font-size: 8rem;
  font-weight: 800;
  color: var(--scoundary-color);
  text-align: center;
  max-width: 100%;
}

.main-heading+p {
  font-size: 1.7rem;
  color: #333;
  text-align: center;
  line-height: var(--P-line-height);
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .main-heading {
    font-size: 50px;
  }

  .main-heading+p {
    margin-top: 5px;
    line-height: calc(var(--P-line-height) * 0.75);
  }
}

/* .section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
} */

/* !End Combonant */
/* * Start Header */
.header {
  padding: 2rem 12%;
  background: #eee;
  box-shadow: 0 0 5px #777;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
}

/* @media (max-width: 768px) {
  .header {
    padding: 2rem 9%;
  }
} */


.logo {
  width: 7rem;
}

.header .links {
  position: relative;
}

.header .icon i {
  font-size: 3rem;
}

.header .links .navbar {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--background-color);
  min-width: 20rem;
  z-index: 100;
  display: none;
}

.header .links:hover .navbar {
  display: block;
}

.header .links .navbar a {
  display: block;
  font-size: 1.8rem;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  color: #333;
  font-weight: 400;
  transition: var(--main-transtion);
}

.header .links .navbar a:hover {
  padding-left: 30px;
}

.header .links .navbar a:not(:last-child) {
  border-bottom: 1px solid #aeadad;
}

/* End headre */
/* Strat landing */
.landing {
  position: relative;
  background: var(--scoundary-color);
  height: 50vh;
}


.landing::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10rem;
  width: 20rem;
  height: 20rem;
  border: .4rem solid white;
  border-radius: 50%;
  background: var(--scoundary-color);
}

/* @media (max-width: 767px) {
  .landing::before {
    bottom: -50px;
    width: 100px;
    height: 100px;
  }
} */

.landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing-content h1 {
  margin: 0;
  font-size: 7rem;
  font-weight: bold;
  color: var(--main-color);
}

/* @media (max-width: 767px) {
  .landing .landing-content h1 {
    font-size: 4rem;
  }
} */

.landing-content p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  line-height: var(--P-line-height);
  max-width: 100%;
}

/* @media (max-width: 767px) {
  .landing .landing-content p {
    font-size: 1.3rem;
  }
} */
/* End landing */
.features {
  position: relative;
  background: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
  text-align: center;
}

.features .feat-col {
  padding: 1.5rem;
  text-align: center;
  transition: var(--main-transtion);
}

.features .feat-col:hover {
  box-shadow: 0 0 .5rem #777, 0 0 1rem #777;
}

.features .feat-col i {
  font-size: 5rem;
  color: var(--main-color);
}

.features .feat-col h3 {
  font-size: 1.7rem;
  font-weight: 800;
  margin: 2rem 0;
}

.features .feat-col p {
  font-size: var(--P-font-size);
  color: var(--P-color);
  line-height: var(--P-line-height);
}

/* Start Features */
/* Start Services */
.services {
  position: relative;
  background: var(--background-color);
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  margin-top: var(--content-margin);
}

.services-content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.services-content .col .srv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding-bottom: 3rem;
}

.services-content .col .srv i {
  font-size: 3rem;
  color: var(--main-color);
}

.services-content .col .srv h3 {
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.services-content .col .srv p {
  color: var(--P-color);
  font-size: var(--P-font-size);
  line-height: var(--P-line-height);
}


.services-content .col .srv-image {
  position: relative;
  z-index: 1;
}

.services-content .col .srv-image::before {
  content: '';
  position: absolute;
  right: -4rem;
  top: -3rem;
  width: 8rem;
  height: calc(100% + 6rem);
  background: var(--scoundary-color);
  z-index: -1;
}

.services-content .col .srv-image .service-img {
  width: 26rem;
}

/* End Services */
/* Start Portfolio*/
.portfolio {
  background: white;
  position: relative;
}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: var(--content-margin);
}

.portfolio .portfolio-content .card {
  position: relative;
  background: #f2f2f2;
  border-radius: .8rem;
  display: flex;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px var(--scoundary-color);
  transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portfolio-content .card img {
  width: 100%;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portfolio-content .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px var(--scoundary-color);
}

.portfolio .portfolio-content .card .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 4rem;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.portfolio .portfolio-content .card:hover .text {
  transform: rotateX(0);
}

.portfolio-content .card:hover img {
  scale: 0;
}

.portfolio-content .card .card-title {
  font-size: 3rem;
}

.portfolio-content .card .text .card-description {
  color: var(--P-color);
  font-size: 1.6rem;
  line-height: 1.2;
  margin: .3rem 0 1rem;
}

.portfolio-content .card .text a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--scoundary-color);
  border-radius: 50%;
}

.portfolio-content .card .text a i {
  font-size: 2rem;
  color: var(--background-color);
}


/* End Portfolio*/
/* Start About */
.about {
  background: white;
  position: relative;
  padding-bottom: 4rem;
}

.about .main-heading+p {
  margin-bottom: 4rem;
}

.about .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.about .about-content .image {
  position: relative;
  width: 25rem;
  height: 37.5rem;
  z-index: 1;
}


.about .about-content .image::before {
  content: '';
  position: absolute;
  height: calc(100% + 8rem);
  width: 8rem;
  background: var(--main-color);
  bottom: -4rem;
  left: -4rem;
  z-index: -1;
}


.about .about-content .image::after {
  content: '';
  position: absolute;
  height: calc(100% + 8rem);
  width: 8rem;
  background: var(--scoundary-color);
  bottom: -4rem;
  right: -4rem;
  z-index: -1;
}

.about .about-content .image img {
  max-width: 100%;
}

.about .about-content .text {
  flex: 1;
  margin: 0 15rem 0 15rem;
  margin-top: var(--content-margin);
}

@media (max-width: 768px) {
  .about .about-content .text {
    margin-top: 3rem;
  }
}

.about .about-content .text p:first-child {
  color: var(--scoundary-color);
  font-size: var(--P-font-size);
  line-height: var(--P-line-height);
  font-weight: 800;
}

.about .about-content .text hr {
  width: 50%;
  background: var(--main-color);
  height: 2px;
  border: none;
  margin: 4rem 0 1.4rem;
}

.about .about-content .text p:last-child {
  color: var(--P-color);
  font-size: var(--P-font-size);
  line-height: var(--P-line-height);
}

/* End About */
/* Start Contact */
.contact {
  position: relative;
  background: var(--background-color);
}

.contact .contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--content-margin);
  margin-bottom: var(--content-margin);
}

.contact-content .label {
  font-size: 4rem;
  color: var(--scoundary-color);
  font-weight: 800;
}

.contact-content .link {
  font-weight: 800;
  color: var(--main-color);
  font-size: 3.5rem;
  margin: 2rem 0;
}

.contact-content .social-icon {
  color: var(--P-color);
  font-size: 1.7rem;
  margin: 0;
}

.contact-content .social-icon i {
  color: #000;
  margin: 0 .5rem;
}

/* End Contact */
/* Start Footer */
.footer {
  position: relative;
  background: var(--scoundary-color);
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--P-font-size);
  color: white;
  text-align: center
}

.footer .info {
  flex: 1;
  font-size: var(--P-font-size);
}

.footer .design-name {
  font-weight: bold;
  color: var(--main-color);
}

.footer .up {
  border: .2rem solid var(--main-color);
  padding: .7rem;
  border-radius: .6rem;
}

.footer .up:hover {
  background: var(--main-color);
}

.footer .up a {
  color: var(--main-color);
}

.footer .up a i {
  position: relative;
  animation: up-down 1s linear infinite alternate-reverse;
}

.footer .up:hover a i {
  color: var(--scoundary-color);
}

@keyframes up-down {
  0% {
    transform: translateY(5px) rotate(-90deg);
  }

  50% {
    transform: translateY(0) rotate(-90deg);
  }

  100% {
    transform: translateY(-5px) rotate(-90deg);
  }
}

/* End Footer */


/* ! Media */
/* * Larg Screen */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .srv-image,
  .service-img {
    display: none;
  }
}

/* * Medium Screen */

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .about .about-content .text {
    margin: 0 10rem 0 10rem;
  }
}

/* * Phone Media */
@media (max-width: 767px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 6rem 3% 2rem;
  }

  .main-heading {
    font-size: 5rem;
  }

  .main-heading+p {
    margin-top: .5rem;
    line-height: calc(var(--P-line-height) * 0.75);
  }

  .landing-content h1 {
    font-size: 6rem;
  }

  .landing-content p {
    font-size: 1.6rem;
  }

  .landing::before {
    width: 18rem;
    height: 18rem;
  }

  .services .services-content {
    gap: 2rem;
  }

  .services-content .col {
    text-align: center;
  }

  .services-content .col .srv {
    align-items: center;
    flex-direction: column;
  }

  .portfolio .portfolio-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .about .about-content {
    flex-direction: column;
  }

  .about .about-content .image {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 1rem 2rem 3rem 4rem;
    box-shadow: 0 5px 5px #777;
  }

  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }

  .about .about-content .image img {
    position: relative;
    bottom: 2rem;
  }

  .about .about-content .text {
    margin: 5rem;
  }

  .about .about-content .text hr {
    width: 70%;
    margin: 4rem auto 1.4rem;
  }
}

/* * Medium Phone */

@media (max-width: 617px) {
  .landing-content h1 {
    font-size: 5rem;
  }

  .landing-content p {
    font-size: 1.5rem;
  }

  .portfolio .portfolio-content {
    grid-template-columns: 1fr;
  }

  .contact-content .label {
    font-size: 3rem;
  }

  .contact-content .link {
    font-size: 2.5rem;
  }
}

/* * Small Phone */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  section {
    padding: 5rem 3% 2rem;
  }

  .landing-content h1 {
    font-size: 3.5rem;
  }

  .landing-content p {
    font-size: 1.4rem;
  }
}